@import '~font-awesome/css/font-awesome';

home-left {
  flex: 1;
  padding-left: 100px;
  margin-top: 20px;
}

.home-right {
  flex: 2;
  text-align: left;
  padding-right: 100px;
  padding-left: 100px;
}

.home {
  display: flex;
  font-size: 25px;
}

.home-card {
  text-align: center;
  width: 80%;
  background-color: #00010a;
  color: #bfbfbf;
  line-height: 100px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px solid #bfbfbf;
  border-radius: 10px;
  height: 100px;
  font-style: italic;
  font-size: 50px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.home-card:hover {
  text-decoration: none;
  font-style: italic;
  color: lightblue;
  transform: scale(1.1);
  transition: 0.5s;
  border: 2px solid lightblue;
  filter: drop-shadow(0 0 0.75rem lightblue);
}

.social {
  margin-top: 30px;
  color: white;
  line-height: 40px;
  font-style: italic;
}

.social p {
  color: lightblue;
}







/****************************** TESTING ************************/

